* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    padding: 15px;
    box-sizing: border-box;
}

.grid::after { /*da um tamanho para o div pai*/
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    box-sizing: border-box; /*padding cresce pra dentro*/
    width: 33.33%;
    height: 300px;
    float: left; /*soma as margens ao elemento*/
    padding: 15px;
}

.grid .col .col-content{
    width: 100%;
    height: 100%;
    background: red;
}
